<form method="POST" >
        <input type="text" name="name" placeholder="name" />
        <input type="file" name="image" placeholder="image" />
        <button type="submit">submit</button>
      </form>